* {
  margin: 0;
  padding: 0;
  display: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(60deg, white, rgb(121, 115, 115));
}

.info {
  width: 100vw;
  height: 10vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  background-color: #dfdfdf;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

p {
  text-align: center;
}

.container {
  width: 55%;
  height: 60%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  background-color: #dfdfdf;
}

#view-highscore {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  text-decoration: underline;
}

#time-display {
  padding: 20px;
}

li {
  list-style-type: none;
}

.answerButtons {
  margin-top: 4px;
  width: 50%;
  height: 10%;
}

button {
  cursor: pointer;
}

input[type="text"] {
  width: 45%;
  height: 8%;
}